button{
    padding: 1.9rem 2.2rem;
    color: var(--color-text);
    border-radius: 10px ;
}
.accent{
    border: 0px solid white;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: var(--color-accent);
}
.green{
    background-color: var(--color-header);
    border: 0px solid white;
    width: 20rem;
    margin: 2rem;
    margin-left: 0;
}