button{
    padding: 1.9rem 2.2rem;
    color: var(--color-text);
    border-radius: 10px ;
    cursor: pointer;
}
.accent{
    border: 0px solid white;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: var(--color-accent);
}
.accent:hover{
    background-color: #f3900f;
}

.green{
    background-color: var(--color-header);
    border: 0px solid white;
    width: 20rem;
    margin: 2rem;
    margin-left: 0;
}
.green:hover{
    background-color: var(--color-footer);
}
.cartOpenBtn{
    padding: 0;
    margin: 0;
    width: fit-content;
}


@media screen and (max-width:1000px) {
    button{
        padding: 1rem 1.6rem;
    }
}

@media screen and (max-width:372px) {
    .accent{
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px;
        margin-top: 1rem;
        /* border: 1px solid; */
    }
}