.wrap--contact{
    display: flex;
    margin: 10rem 13rem 5rem 13rem;
}




.contact{
    color:black;
}

/* Input box */
.wrapinput{
    width: 100%;
    border: 2px solid red;
}
.contactHeading{
    font-size: 2rem;
    width: 50%;
    font-weight: 400;
}

.contactSubHeading{
    font-weight: 400;

}

.contactMessage{
    padding: 1.9rem 2.2rem;
    margin-top: 2rem;
    border: 0px solid white;
    border-radius: 10px ;
    
    width: 88%;
}


/* Delivery Guy */
.contactDeliveryGuy img{
    margin-top: 2rem;
    padding-left: 2rem;
    width: 90%;
}



/* media queries */
@media screen and (max-width:950px) {
    .wrap--contact{
        margin: 8rem 5rem 5rem 5rem;
    }
    .contactMessage{
        width: 60%;
    }
}
@media screen and (max-width:767px) {
    .wrap--contact{
        margin: 8rem 7rem 5rem 7rem;
        flex-direction: column-reverse;
    }
    .contactDeliveryGuy{
        width: 60%;
        margin: auto;
    }
}