input{
    padding: 1.9rem 2.2rem;
    margin-top: 2rem;
    border: 1px solid white;
    border-radius: 10px ;
    width: 40%;
    /* outline: blue; */
}

::placeholder{
    font-weight: lighter;
    color: #9a9999;
}

.inputBoxLanding{
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}

.inputBoxContact{
    margin: 1rem;
    margin-left: 0;
}

input:focus ,textarea:focus{
    outline: none;
    border: var(--color-header) 1px solid;
}


/* Request Box */
.requestInput{
    background-color: var(--color-textAlt);
    width: 90%;
    margin-bottom: 4vh;
    margin-top: 0;
    /* margin: auto; */
}