.wrap--service{
    color:  black;
    text-align: center;
    margin-top: 20vh;
}

.serviceText{
    margin-bottom: 30vh;
}


/* Heading */
.serviceHeading{
    /* margin-top: 4rem; */
    font-weight: 700;
    font-size: 4rem;
    width: 50%;
    margin:  4rem auto 0;
}

/* Content */
.serviceContent{
    font-weight: 500;
    width: 20%;
    margin: 1rem auto 4rem ;
    color: grey;
}

/* Video */
.wrap--video{
    background-color: #C7EACC;
    margin-top: 20%;
}
.wrap--video video{
    /* position: relative; */
    transform: translateY(-50%);
    margin: auto auto;
    width: auto;
}
.video{
    width: 100%;
}

/* Play Button */
.serviceBtn{
    position: absolute;
    transform: translate(-650%,-50%);
    margin: auto auto;
    z-index: 5;
    border-radius: 50%;
    padding: 1rem 0 1rem 0.8rem;
    width: 5rem;

}
.invisiblePlayerBtn{
    display: none;
}
